@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
import 
body {
  font-family: 'Montserrat', sans-serif;
}

.wrapper{
  width: 1322px;
  margin: 0px auto;
}
.header-icon{
position: relative;
padding-left: 25px;
margin-left: 18px;
}
.header-icon::before{
  content: '';
  position: absolute;
  left: 0;
  background-color: #d2d2d2;
  top: 50%;
  transform:translateY(-50%);
  width: 1px;
  height: 33px;
}
.header-call-us{
  font-size: 14px;
  line-height: 19px;
  color: #000000;
  font-weight: 500;
  transition: all 0.3s ease;
  vertical-align: middle;
  display: none;
}
.home-banner-wr{
  padding: 135px 0 90px;
background: #f5fcff url(../public/Home/home_paperplane.svg) no-repeat 55% 10%;

}